{% load staticfiles %}
<head>
<link rel="stylesheet" href="{% static 'css/journal.css' %}">
<link rel="stylesheet" href="{% static 'js/journal.js' %}">
<link rel="stylesheet" href="{% static 'css/datepickk.min.css' %}">
<!-- <img src="{% static "images/rocks.jpg" %}" alt="My image">
 -->
 <script src="{% static 'js/datepickk.min.js' %}"></script>
 <title>MoodL-UserLog</title>
    <style>
        h2 {
            color: #7c795d;
            font-family: 'Trocchi', serif;
            font-size: 45px;
            font-weight: normal;
            line-height: 48px;
            margin: 0;
        }
    </style>
            <form action="{% url 'logout' %}" method="post" class="form-inline my-2 my-lg-0">
                {% csrf_token %}
                <button id= "submit" class="btn btn-secondary my-2 my-sm-0" type="submit">Logout</button>
                <a id="help" class="btn btn-primary" href="/help" role="button">Help?</a>
            </form>
</head>
<body>
  <!-- Random background-->
      <script type="text/javascript">
        var dir = '/static/images/';
        var size = 4;
        var dict = {
          1: "wood.jpg",
          2: "panels.jpg",
          3: "water.jpg",
          4: "rocks.jpg"};
        var random= Math.floor(Math.random() * size) + 1;
        document.body.style.backgroundImage="url(" + dir + dict[random] + ")";
      </script>
<div id="box">
   <div id="form" style= "height: 510px">
     <p id= "old_text" style="background-color:white">{{ moods.entry_text }}</p>
   </div>
</div>
  <div id="calendar"></div>

<style>
canvas {
  width: 400px !important;
  height: 250px !important;
}
</style>

<div id="chartArea">
<canvas id="chart"></canvas>
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

 <script>
   function getMonthFromString(mon){

      var d = Date.parse(mon + "1, 2012");
      if(!isNaN(d)){
         return new Date(d).getMonth() + 1;
      }
      return -1;
    }

  $( document ).ready(function() {
    var anger = {{moods.anger}};
    var disgust = {{moods.disgust}};
    var fear = {{moods.fear}};
    var joy = {{moods.joy}};
    var sadness = {{moods.sadness}};

    var chart = document.getElementById("chart");
    var ctx = chart.getContext("2d");
    var chartObj = new Chart(ctx, {
      // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
       labels: ['Anger','Disgust','Fear','Joy','Sadness'],
       datasets: [{
           label: "My First dataset",
           backgroundColor: [
            'rgba(255, 99, 132,.8)', //anger
            'rgba(0,255,0,.6)', //disgust
            'rgba(153,51,204,.7)', //fear
            'rgba(255,255,0,.7)', //joy
            'rgba(79,179,249,.9)', //sadness
            'rgb(0,255,255)',
            'rgb(255,0,255)',
          ],
           borderColor: [
             'rgb(0,0,0)',
             'rgb(0,0,0)',
             'rgb(0,0,0)',
             'rgb(0,0,0)',
             //'rgb(79,179,249)',
             'rgb(0,0,0)',
           ],
           borderWidth: 2,
           data: [anger,disgust,fear,joy,sadness],

       }]
   },
    options: {
     scales: {
       yAxes: [{
         ticks: {
            fontSize: 40
         }
       }],
       xAxes: [{
         ticks: {
           fontSize: 40
         }
       }]
     }
    },
 });
});

</script>

<script type="text/javascript">
var datepicker = new Datepickk();
datepicker.inline = true;
datepicker.container = document.getElementById("calendar");
/*Set highlight*/
var highlight = {
  start: new Date(2018,11,22),
  end: new Date(2018,11,24),
  backgroundColor: '#3faa56',
  color: '#ffffff',
};
datepicker.highlight = [highlight];

/*Get highlight*/
console.log(datepicker.highlight);
datepicker.show();
datepicker.selectDate(new Date());
datesArr = [];
var i = 0;
{% for val in dates %}
  var dateStr = "{{ val.submission_date }}".replace(/,/g, '');
  dateStr = dateStr.split(' ');
  dateStr[0] = getMonthFromString(dateStr[0]);
  datesArr[i] = new Date(dateStr[2]+'-'+dateStr[0]+'-'+dateStr[1]);
  console.log(datesArr[i]);
  i++;
{% endfor %}
// datepicker.disabledDates = datesArr;
datepicker.onSelect = function(checked){
  // console.log("this: "+this);
  // var date = new Date(this.toLocaleDateString());
  var state = (checked)?'selected':'unselected';
  // console.log("Date: "+date.valueOf());
  window.location.replace('../get_spec_entry/'+this.valueOf());
};
</script>
</div>
</body>
