<script src="../../../static/util/js/chart.js"></script>
<script>
  ?
</script>
<ul>
    <li>Anger: {{ vals.anger }}</li>
    <li>Disgust: {{ vals.disgust }}</li>
    <li>Fear: {{ vals.fear }}</li>
    <li>Joy: {{ vals.joy }}</li>
    <li>Sadness: {{vals.sadness}}</li>
    <li>Analytical: {{ vals.analytical }}</li>
    <li>Confident: {{ vals.confident }}</li>
    <li>Tentative: {{ vals.tentative }}</li>
    <li>Openness: {{ vals.openness }}</li>
    <li>Conscientiousness: {{ vals.conscientiousness }}</li>
</ul>
