{% load staticfiles %}
<head>
<link rel="stylesheet" href="{% static 'css/journal.css' %}">
<link rel="stylesheet" href="{% static 'js/journal.js' %}">
<!-- <img src="{% static "images/rocks.jpg" %}" alt="My image">
 -->
</head>
<body>
<!-- wrapper to get calendar and entry side by side-->
 <div id="wrapper">
<form action="/journal/get_entry/" method="post" id="form">
  {% csrf_token %}
  <!--<textarea name="name" rows="8" cols="80"></textarea>
  <input type="submit" value="Submit Entry">
  <label for="new_entry">How's it going?<br> </label>
  <input id="new_entry" type="text" name="new_entry" value="{{
  current_entry }}">-->
  <br>
  {{ form }}

  <br><pre>
  <input type="submit" value="Submit Entry">
  </pre>
</form>

<!-- Add an additional blue button style -->
<style>
.yui3-button {
    margin:10px 0px 10px 0px;
    color: #fff;
    background-color: #3476b7;
}
canvas {
  width: 500px !important;
  height: 300px !important;
}
</style>

<div id="demo" class="yui3-skin-sam yui3-g"> <!-- You need this skin class -->

  <div id="leftcolumn" class="yui3-u">
     <!-- Container for the calendar -->
     <div id="mycalendar"></div>
  </div>
  <div id="rightcolumn" class="yui3-u">
   <div id="links" style="padding-left:20px;">
      <!-- The buttons are created simply by assigning the correct CSS class -->
      <button id="togglePrevMonth" class="yui3-button">Toggle Previous Month's Dates</button><br>
      <button id="toggleNextMonth" class="yui3-button">Toggle Next Month's Dates</button><br>
      Selected date: <span id="selecteddate"></span>
   </div>
  </div>
</div>
</div>
<canvas id="chart"></canvas>

<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script>
  $( document ).ready(function() {
    var anger = {{moods.anger}};
    var disgust = {{moods.disgust}};
    var fear = {{moods.fear}};
    var joy = {{moods.joy}};
    var sadness = {{moods.sadness}};

    var chart = document.getElementById("chart");
    var ctx = chart.getContext("2d");
    var chartObj = new Chart(ctx, {
      // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
       labels: ['Anger','Disgust','Fear','Joy','Sadness'],
       datasets: [{
           label: "My First dataset",
           backgroundColor: [
            'rgba(255, 99, 132,.8)', //anger
            'rgba(0,255,0,.6)', //disgust
            'rgba(153,51,204,.7)', //fear
            'rgba(255,255,0,.7)', //joy
            'rgba(79,179,249,.9)', //sadness
            'rgb(0,255,255)',
            'rgb(255,0,255)',
          ],
           borderColor: [
             'rgb(0,0,0)',
             'rgb(0,0,0)',
             'rgb(0,0,0)',
             'rgb(0,0,0)',
             //'rgb(79,179,249)',
             'rgb(0,0,0)',
           ],
           borderWidth: 2,
           data: [anger,disgust,fear,joy,sadness],

       }]
   },
    options: {
     scales: {
       yAxes: [{
         ticks: {
            fontSize: 40
         }
       }],
       xAxes: [{
         ticks: {
           fontSize: 40
         }
       }]
     }
    },
 });
});
</script>

<script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>
<script type="text/javascript">
YUI().use('calendar', 'datatype-date', 'cssbutton',  function(Y) {

    // Create a new instance of calendar, placing it in
    // #mycalendar container, setting its width to 340px,
    // the flags for showing previous and next month's
    // dates in available empty cells to true, and setting
    // the date to today's date.
    var calendar = new Y.Calendar({
      contentBox: "#mycalendar",
      width:'340px',
      showPrevMonth: true,
      showNextMonth: true,
      date: new Date()}).render();

    // Get a reference to Y.DataType.Date
    var dtdate = Y.DataType.Date;

    // Listen to calendar's selectionChange event.
    calendar.on("selectionChange", function (ev) {

      // Get the date from the list of selected
      // dates returned with the event (since only
      // single selection is enabled by default,
      // we expect there to be only one date)
      var newDate = ev.newSelection[0];
      // Format the date and output it to a DOM
      // element.
      var date = dtdate.format(newDate);
      Y.one("#selecteddate").setHTML(date);
    });


    // When the 'Show Previous Month' link is clicked,
    // modify the showPrevMonth property to show or hide
    // previous month's dates
    Y.one("#togglePrevMonth").on('click', function (ev) {
      ev.preventDefault();
      calendar.set('showPrevMonth', !(calendar.get("showPrevMonth")));
    });

    // When the 'Show Next Month' link is clicked,
    // modify the showNextMonth property to show or hide
    // next month's dates
    Y.one("#toggleNextMonth").on('click', function (ev) {
      ev.preventDefault();
      calendar.set('showNextMonth', !(calendar.get("showNextMonth")));
    });
});
</script>

</body>
